#
# Shorewall version 4.0 - Sample Rules File for three-interface configuration.
#
# Wolfe's note:  
#    1. Never a good idea to move rules between sections. (unless you know)
#    2. It is safe to organized by source-dest, as long as ordering within
#       those matching tuple is still being maintained
#    3. sub-chains go at the end of each sub-section
#
# See following for further details.
# /usr/share/shorewall/macro.*
#------------------------------------------------------------------------------------------------------------
# For information about entries in this file, type "man shorewall-rules"
######################################################################################################################################################################################################
# 1. ACTION
# 2. SOURCE IP
# 3. DEST IP
# 4. PROTOCOL
# 5. DEST PORT
# 6. SOURCE PORT(S)
# 7. ORIGINAL DESTINATIOn
#ACTION		SOURCE		DEST		PROTO	DEST	SOURCE		ORIGINAL	RATE		USER/	MARK	CONNLIMIT	TIME		HEADERS		SWITCH		HELPER
#    							PORT	PORT(S)		DEST		LIMIT		GROUP

#============================================================================
#== ALL == ALL == ALL == ALL == ALL == ALL == ALL == ALL == ALL == ALL == ALL 
#============================================================================
?SECTION ALL

#============================================================================
#== ESTABLISHED == ESTABLISHED == ESTABLISHED == ESTABLISHED == ESTABLISHED 
#============================================================================
?SECTION ESTABLISHED

#============================================================================
#== RELATED == RELATED == RELATED == RELATED == RELATED == RELATED == RELATED 
#============================================================================
?SECTION RELATED
# ACCEPT		all		dmz:70.90.191.125       tcp     61001:62000 { helper=ftp }
ACCEPT		all		all		icmp
RST(ACCEPT)	all		all		tcp
# ACCEPT		all		red		tcp     { helper=ftp }
ACCEPT		$FW		all
# ACCEPT		dmz		all		tcp     { helper=ftp }
# ACCEPT		dmz		dmz

#============================================================================
#== INVALID == INVALID == INVALID == INVALID == INVALID == INVALID == INVALID 
#============================================================================
?SECTION INVALID
ACCEPT		red		all

#============================================================================
#== UNTRACKED == UNTRACKED == UNTRACKED == UNTRACKED == UNTRACKED == UNTRACKED 
#============================================================================
?SECTION UNTRACKED
Broadcast(ACCEPT)\
		all		$FW
ACCEPT		all		$FW		udp
# ACCEPT		red:192.88.99.1	$FW		41
# tarpit		red		all		tcp	23
CONTINUE	$FW		all
CONTINUE	green		$FW

#============================================================================
#== NEW == NEW == NEW == NEW == NEW == NEW == NEW == NEW == NEW == NEW 
#============================================================================
?SECTION NEW

#
#  All Section-NEW DROPs/REJECTs goes here firstly
#
?COMMENT Stop NETBIOS crap
REJECT		all		red		tcp	137,445
REJECT		all		red		udp	137:139

?COMMENT Disallow port 3333
REJECT		all		red		tcp	3333
# ?COMMENT Invalid(DROP)
# Invalid(DROP)	red		all		tcp

?COMMENT Disallow multicast IRC port to DMZ
DROP        all     dmz:224.0.0.0/4 udp 6667
DROP        all     dmz:224.0.0.0/4 tcp 6667

#
#  All Section-NEW ACCEPTs goes here after DROPs/REJECTs
#

#########################################################
# Firewall order  (red, fw, dmz, blue, grn, white, green, vmnet)
#   red-red
#   red-fw
#     red-dmz
#     red-blue
#     red-grn
#     red-white
#   ^^red-green^^
#   red-vmnet
#
# red-fw - (NEW Connection section)
# red-fw - Typically, servers on this host
#       Don't allow connection pickup from the red zone
#

# INCLUDE /etc/shorewall/rules.d/200-section-new-red-red.rules
INCLUDE /etc/shorewall/rules.d/200-section-new-red-FW.rules
# INCLUDE /etc/shorewall/rules.d/200-section-new-red-dmz.rules
INCLUDE /etc/shorewall/rules.d/200-section-new-red-blue.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-red-grn.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-red-white.rules
INCLUDE /etc/shorewall/rules.d/200-section-new-red-green.rules
INCLUDE /etc/shorewall/rules.d/200-section-new-red-vmnet.rules

INCLUDE /etc/shorewall/rules.d/200-section-new-FW-red.rules
INCLUDE /etc/shorewall/rules.d/200-section-new-FW-FW.rules
# INCLUDE /etc/shorewall/rules.d/200-section-new-FW-dmz.rules
INCLUDE /etc/shorewall/rules.d/200-section-new-FW-blue.rules
# INCLUDE /etc/shorewall/rules.d/200-section-new-FW-grn.rules
INCLUDE /etc/shorewall/rules.d/200-section-new-FW-white.rules
INCLUDE /etc/shorewall/rules.d/200-section-new-FW-green.rules
INCLUDE /etc/shorewall/rules.d/200-section-new-FW-vmnet.rules

#INCLUDE /etc/shorewall/rules.d/200-section-new-dmz-red.rules
INCLUDE /etc/shorewall/rules.d/200-section-new-dmz-FW.rules
INCLUDE /etc/shorewall/rules.d/200-section-new-dmz-dmz.rules
INCLUDE /etc/shorewall/rules.d/200-section-new-dmz-blue.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-dmz-grn.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-dmz-white.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-dmz-green.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-dmz-vmnet.rules

INCLUDE /etc/shorewall/rules.d/200-section-new-blue-red.rules
INCLUDE /etc/shorewall/rules.d/200-section-new-blue-FW.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-blue-dmz.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-blue-blue.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-blue-grn.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-blue-white.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-blue-green.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-blue-vmnet.rules

INCLUDE /etc/shorewall/rules.d/200-section-new-grn-red.rules
INCLUDE /etc/shorewall/rules.d/200-section-new-grn-FW.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-grn-dmz.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-grn-blue.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-grn-grn.rules
INCLUDE /etc/shorewall/rules.d/200-section-new-grn-white.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-grn-green.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-grn-vmnet.rules

INCLUDE /etc/shorewall/rules.d/200-section-new-white.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-white-red.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-white-FW.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-white-dmz.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-white-blue.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-white-grn.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-white-white.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-white-green.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-white-vmnet.rules

#INCLUDE /etc/shorewall/rules.d/200-section-new-green-red.rules
INCLUDE /etc/shorewall/rules.d/200-section-new-green-FW.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-green-dmz.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-green-blue.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-green-grn.rules
INCLUDE /etc/shorewall/rules.d/200-section-new-green-white.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-green-green.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-green-vmnet.rules

#INCLUDE /etc/shorewall/rules.d/200-section-new-vmnet-red.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-vmnet-FW.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-vmnet-dmz.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-vmnet-blue.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-vmnet-grn.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-vmnet-white.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-vmnet-green.rules
#INCLUDE /etc/shorewall/rules.d/200-section-new-vmnet-vmnet.rules

#LAST LINE -- ADD YOUR ENTRIES BEFORE THIS ONE -- DO NOT REMOVE
