#
# File: rules
# Path: /etc/shorewall
# Title: Rules File for three-interface configuration.
# Description:
#

#ACTION		SOURCE		DEST		PROTO	DEST	SOURCE		ORIGINAL	RATE		USER/	MARK	CONNLIMIT	TIME		HEADERS		SWITCH		HELPER
#    							PORT	PORT(S)		DEST		LIMIT		GROUP

?COMMENT Stop NETBIOS crap
REJECT		all		red		tcp	137,445
REJECT		all		red		udp	137:139

?COMMENT Disallow port 3333
REJECT		all		red		tcp	3333

?COMMENT all-red multicast
ACCEPT		all		red:224.0.0.0/4

